<!DOCTYPE html>
<head>
    <title>My Projects</title>
    <link rel="stylesheet" href="../styling/style.css">
</head>
<body>
    <div class="container2">
        <h2>Check out My Portfolio Projects</h2>
        <div class="navigation">
            <a href="index.html">Home</a>
        </div>
    </div>
    <div class="project-grid">
        <div>
            <a href="wishlist.html">
                <img class="project-image" src="../images/Wishlist.png" alt="WishList Icon"><br>
            WishList
            </a>
        </div>
        <div>
            <a href="yardSale.html">
                <img class="project-image" src="../images/YardSale.jpeg" alt="YardSale Icon"><br>
            YardSale
            </a>
        </div>
        <div>
            <a href="hype.html">
                <img class="project-image" src="../images/hype.png" alt="Hype Icon"><br>
            Hype(Concept)
            </a>
        </div>
        <div>
            <a href="meanIt.html">
                <img class="project-image" src="../images/MeanIt.jpeg" alt="MeanIt Icon"><br>
            MeanIt
            </a>
        </div>
        <div>
            <a href="baddie.html">
                <img class="project-image" src="../images/Baddie.png" alt="Baddie Icon"><br>
            Baddie
            </a>
        </div>
        <div>
            <a href="optimus.html">
                <img class="project-image" src="../images/Optimus.png" alt="Optimus Icon"><br>
            Optimus
            </a>
        </div>
    </div>
</body>