<!DOCTYPE html>
<head>
    <title>wishlist</title>
    <link rel="stylesheet" href="../styling/style.css">
</head>
<body>
    <div class="hyperlinks">
        <div class="first"><a href="index.html">Home</a></div>
        <div class="second"><a href="projects.html">Projects</a></div>
    </div>
    <div>
        <h2>wishList</h2>
        <div><img src="../images/Wishlist.png" alt="WishList Icon"></div>
        <h2>Brief Description</h2>
        <p>It is your friend's birthday; it is your anniversary; it is colleague's wedding
        Whatever the ceremony, you always want to gift the perfect gift; a balance between something meaningful
        and something they really want. You also don't want to gift something someone else already got them
        The worst response to a gift is, "Another electric kettle!"</p>
        <br>
        <p>That is where wishlist helps you out.
        Wishlist is a chrome extension that allows you to add links/urls of the gifts you stumble upon
        and would like a friend to gift you. Once connected, your friends can see the items in an ordered list
        with those already purchased marked off
        If you are invited to a friend's wishlist, you can see gifts they'd like
        and the links to the places they could be found. Therefore, you can easily purchasethe gifts
        just from the wishlist.</p>
        <br>
        <p>In cases where you are really late and the wishlist has already been fullfilled, you could
        use our customGift tool to get the perfect gift for your friend by filling out a simple form and leaving the rest
        to the our algorithm that leverages AI to recommend the perfectly curated gift to match your friend's tastes.</p>
        <br>
        <dv>
            Gifting has never been easier!
        </dv>
    </div>
    <div>
          <a href="https.//www.wishlist.com"><h3>Click To Try It Out!</h3></a>
    </div>
</body>