<!DOCTYPE html>
<head>
    <title>Hype</title>
    <link rel="stylesheet" href="../styling/style.css">
</head>
<body>
    <div class="hyperlinks">
        <div class="first"><a href="home.html">Home</a></div>
        <div class="second"><a href="projects.html">Projects</a></div>
    </div>
    <h2>HypE</h2>
    <div><img src="../images/hype.png" alt="Hype Icon"></div>
    <h2>Brief Description</h2>
    <p>
        This is a self esteem and confidence booster platform for carefully customized and curated feedback and attention.
    </p>
</body>