<!DOCTYPE html>
<head>
    <title>Optimus</title>
    <link rel="stylesheet" href="../styling/style.css">
</head>
<body>
    <div class="hyperlinks">
        <div class="first"><a href="index.html">Home</a></div>
        <div class="second"><a href="projects.html">Projects</a></div>
    </div>
    <div>
        <h2>Optimus</h2>
        <div><img src="../images/Optimus.png" alt="Optimus Icon"></div>
        <h2>Brief Description</h2>
        <p>Who doesn't love confettis when they complete a task?
            Who doesn't look forward to ticking a task off their todo-list?<br>
            Optimus is a productivity tool that allows you to not only add daily
            tasks to your to-do list but motivate you to begin them early, <br>
            finish them sooner and track your productivity.</p>
            <br>
            <p>You can also share with your friends to see who harvests the most out
            of their day!
        </p>
        <p>
            This is all the validation you need!
            Getting things done and having fun without it being OXYMORONIC!
        </p>
    </div>
    <div>
        <a href="https.//www.optimus.com"><h3>Click To Try It Out!</h3></a>
    </div>
</body>